<%-include('../layouts/header.ejs') %>
 <h1 style="display: flex; justify-content: center; align-items: center; height: 10vh;">#Cart</h1>
 <div class="center-image">
    <img src="https://i.pinimg.com/originals/4e/e5/ca/4ee5ca990c4a7ec5ff5207719caa2e5c.png" alt="Description of the image">
  
  
  </div>
      <style>
        .center-image {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70vh;
        }
      </style>