<%-include('../layouts/headerforlogin.ejs') %>

<form action="/forgot-sendOtp" method="post">
    <div class="container3">
        <div class="form-group row">
            <div class="d-flex flex-column align-items-center">
                <label >PHONE</label>
                <input type="text" name="ph"><br>
                <button type="submit">send OTP</button>
            <%=(typeof message!=='undefined') ? message : ""%>

            </div>

          </div>
    </div>
  </form>

    <style>
        .container3{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 59vh;
        }
    </style>

 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    
</body>
</html>